In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import HiveContext, Row
from pyspark.sql.types import IntegerType
import json
import sys
inputFile = 'flights2008.csv'
inputFile = '/Users/abel/Downloads/spare_time/working/b13590_1.8k_spark_7月28日/flights2008.csv'

conf = SparkConf().setAppName("SparkSQLAirTransit")
SparkConf().set("spark.sql.legacy.timeParserPolicy","LEGACY")
sc = SparkContext.getOrCreate(conf=conf)
hiveCtx = HiveContext(sc)
print("Loading flights from " + inputFile)

Loading flights from /Users/abel/Downloads/spare_time/working/b13590_1.8k_spark_7月28日/flights2008.csv

In [2]:
input = hiveCtx.read.option("header",True).csv(inputFile,inferSchema =True)



input.registerTempTable("air_transit")
myair_transits = hiveCtx.sql("SELECT * FROM air_transit LIMIT 3")
print('myair_transits:' )
for item in myair_transits.collect():
	print(item, '\n')

myair_transits:
Row(_c0=0, Year=2008, Month=1, DayofMonth=3, DayOfWeek=4, DepTime=2003.0, CRSDepTime=1955, ArrTime=2211.0, CRSArrTime=2225, UniqueCarrier='WN', FlightNum=335, Origin='IAD', Dest='TPA')

Row(_c0=1, Year=2008, Month=1, DayofMonth=3, DayOfWeek=4, DepTime=754.0, CRSDepTime=735, ArrTime=1002.0, CRSArrTime=1000, UniqueCarrier='WN', FlightNum=3231, Origin='IAD', Dest='TPA')

Row(_c0=2, Year=2008, Month=1, DayofMonth=3, DayOfWeek=4, DepTime=628.0, CRSDepTime=620, ArrTime=804.0, CRSArrTime=750, UniqueCarrier='WN', FlightNum=448, Origin='IND', Dest='BWI')

In [3]:
print('1. column=',len(myair_transits.columns))
myair_transits = hiveCtx.sql("SELECT count(*) FROM air_transit ")
print('1. rows : ', myair_transits.collect())

1. column= 13
1. rows :  [Row(count(1)=7009728)]

In [12]:
print('2. print out the schema of this dataframe')
input.printSchema()

2. print out the schema of this dataframe
root
 |-- _c0: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DepTime: double (nullable = true)
 |-- CRSDepTime: integer (nullable = true)
 |-- ArrTime: double (nullable = true)
 |-- CRSArrTime: integer (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: integer (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)

In [13]:
print('3. List the distinct carriers of in the dataframe:')
myair_transits = hiveCtx.sql("SELECT distinct UniqueCarrier FROM air_transit ")
for row in myair_transits.collect():
	print(row[0])

3. List the distinct carriers of in the dataframe:
UA
AA
NW
EV
B6
DL
OO
F9
YV
US
AQ
MQ
OH
HA
XE
AS
FL
CO
WN
9E

In [14]:
print('4. How many flights in total are there in January:')
myair_transits = hiveCtx.sql("SELECT count(*) FROM air_transit where Month=1 ")
print(myair_transits.collect())

4. How many flights in total are there in January:
[Row(count(1)=605765)]

In [17]:
print('5. the total number of flights by each of the carriers')
myair_transits = hiveCtx.sql("SELECT UniqueCarrier, count(*) FROM air_transit group by UniqueCarrier ")
print('UniqueCarrier', ' count(*)')
for row in myair_transits.collect():
	print(row[0], '        ',row[1])

5. the total number of flights by each of the carriers
UniqueCarrier  count(*)
UA          449515
AA          604885
NW          347652
EV          280575
B6          196091
DL          451931
OO          567159
F9          95762
YV          254930
US          453589
AQ          7800
MQ          490693
OH          197607
HA          61826
XE          374510
AS          151102
FL          261684
CO          298455
WN          1201754
9E          262208

In [18]:
print('6. Count the total number of flights in the first half year (month 1-6) by each of the carriers.')
myair_transits = hiveCtx.sql("SELECT UniqueCarrier, count(*) FROM air_transit where Month <= 6 group by UniqueCarrier ")
print('UniqueCarrier', ' count(*)')
for row in myair_transits.collect():
	print(row[0],'       ', row[1])

6. Count the total number of flights in the first half year (month 1-6) by each of the carriers.
UniqueCarrier  count(*)
UA         234137
AA         308611
NW         186376
EV         140491
B6         100172
DL         225602
OO         293452
F9         47861
YV         130307
US         231041
AQ         7800
MQ         255129
OH         106344
HA         28374
XE         208671
AS         76412
FL         133553
CO         155318
WN         602447
9E         132077