# Setup

In [73]:
# # Init pyspark
# from pyspark import SparkContext
# sc = SparkContext.getOrCreate()
# # Init sparksql -- Only used to format the output nicely!
# from pyspark.sql import SQLContext
# sqlContext = SQLContext(sc)

# rows = sc.textFile("/air_transit_2007.csv")
# #rows = sc.textFile("/Users/abel/Downloads/spare_time/working/a13544_600_spark/air_transit_2007.csv")

# data = rows.map(lambda line: line.split(","))
# # data.cache()

# import findspark
# findspark.init()
# A simple demo for working with SparkSQL and Tweets
from pyspark import SparkContext, SparkConf
from pyspark.sql import HiveContext, Row
from pyspark.sql.types import IntegerType
import json
import sys


inputFile = 'air_transit_2007.csv'
#inputFile = '/Users/abel/Downloads/spare_time/working/a13544_600_spark/air_transit_2007.csv'

conf = SparkConf().setAppName("SparkSQLAirTransit")
sc = SparkContext.getOrCreate(conf=conf)
hiveCtx = HiveContext(sc)
print("Loading tweets from " + inputFile)

Loading tweets from air_transit_2007.csv

In [74]:
input = hiveCtx.read.option("header",True).csv(inputFile,inferSchema =True)
input.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: integer (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: integer (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: integer (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: integer (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: integer (nullable = true)
 |-- TaxiIn: integer (nullable = true)
 |-- TaxiOut: integer (nullable = true)
 |-- Cancelled: integer (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: integer (nullable = true)
 |-- CarrierDelay: integer (nullable = true)
 |-- WeatherDelay: integer (nullable = true)
 |-- NASDelay: integer (nullable = true)
 |-- SecurityDelay: integer (nullable = true)
 |-- LateAircraftDelay: integer (nullable = true)

In [75]:
# Sample Query

In [86]:

input.registerTempTable("air_transit")

myair_transits = hiveCtx.sql("SELECT * FROM air_transit  LIMIT 3")
print('myair_transits:' )
for item in myair_transits.collect():
    print(item, '\n')

myair_transits:
Row(Year=2007, Month=1, DayofMonth=1, DayOfWeek=1, DepTime='1232', CRSDepTime=1225, ArrTime='1341', CRSArrTime=1340, UniqueCarrier='WN', FlightNum=2891, TailNum='N351', ActualElapsedTime='69', CRSElapsedTime=75, AirTime='54', ArrDelay='1', DepDelay='7', Origin='SMF', Dest='ONT', Distance=389, TaxiIn=4, TaxiOut=11, Cancelled=0, CancellationCode=None, Diverted=0, CarrierDelay=0, WeatherDelay=0, NASDelay=0, SecurityDelay=0, LateAircraftDelay=0)

Row(Year=2007, Month=1, DayofMonth=1, DayOfWeek=1, DepTime='1918', CRSDepTime=1905, ArrTime='2043', CRSArrTime=2035, UniqueCarrier='WN', FlightNum=462, TailNum='N370', ActualElapsedTime='85', CRSElapsedTime=90, AirTime='74', ArrDelay='8', DepDelay='13', Origin='SMF', Dest='PDX', Distance=479, TaxiIn=5, TaxiOut=6, Cancelled=0, CancellationCode=None, Diverted=0, CarrierDelay=0, WeatherDelay=0, NASDelay=0, SecurityDelay=0, LateAircraftDelay=0)

Row(Year=2007, Month=1, DayofMonth=1, DayOfWeek=1, DepTime='2206', CRSDepTime=2130, ArrTime='2334', CRSArrTime=2300, UniqueCarrier='WN', FlightNum=1229, TailNum='N685', ActualElapsedTime='88', CRSElapsedTime=90, AirTime='73', ArrDelay='34', DepDelay='36', Origin='SMF', Dest='PDX', Distance=479, TaxiIn=6, TaxiOut=9, Cancelled=0, CancellationCode=None, Diverted=0, CarrierDelay=3, WeatherDelay=0, NASDelay=0, SecurityDelay=0, LateAircraftDelay=31)

## Q1
Compute the total number of records.

In [89]:
# Response...
mycount = hiveCtx.sql("SELECT count(*) as mycount FROM air_transit")
print('mycount=', mycount.collect()[0]['mycount'] )

mycount= 507

In [95]:
## Q2
#Find total number of operated flights per month, sorted by the month..


mymonth = hiveCtx.sql("select Month, count(*) as flight_number from air_transit group by Month order by Month LIMIT 100")
print('total number of operated flights per month:')  
for item in mymonth.collect():
    print(item['Month'], 'month', item['flight_number'])

total number of operated flights per month:
1 month 100
12 month 407

In [97]:
## Q3
# Find the plane with the highest number of flights. Each plane has a unique TailNum
highest_number_filghts = hiveCtx.sql("SELECT TailNum, SUM (FlightNum) FROM air_transit GROUP BY TailNum LIMIT 100")
print('highest_number_filghts: ', highest_number_filghts.collect()[0]['TailNum'] )

highest_number_filghts:  N6700

In [104]:
## Q4
# Compute the total flight time of each airplane, sorted by flight time in descending order.
total_flight_times = hiveCtx.sql("SELECT TailNum, SUM (AirTime) as total_fight_time FROM air_transit GROUP BY TailNum order by total_fight_time desc LIMIT 100")
print('-'*10, 'We make ', '-'*10)
print('total flight time of each airplane: ')
for item in  total_flight_times.collect():
    print(item['TailNum'], ' total fight time is', item['total_fight_time'])

total flight time of each airplane:
N3767  total fight time is 907.0
N385DN  total fight time is 804.0
N6707A  total fight time is 743.0
N3731T  total fight time is 696.0
N904DE  total fight time is 696.0
N377DA  total fight time is 685.0
N391DA  total fight time is 681.0
N830MH  total fight time is 661.0
N925DL  total fight time is 640.0
N948DL  total fight time is 627.0
N946DL  total fight time is 595.0
N645DL  total fight time is 577.0
N912DL  total fight time is 563.0
N394DA  total fight time is 553.0
N6709  total fight time is 548.0
N135DL  total fight time is 521.0
N980DL  total fight time is 485.0
N6702  total fight time is 482.0
N995DL  total fight time is 478.0
N911DL  total fight time is 477.0
N3766  total fight time is 473.0
N372DA  total fight time is 449.0
N655DL  total fight time is 443.0
N988DL  total fight time is 430.0
N931DL  total fight time is 423.0
N828MH  total fight time is 414.0
N654DL  total fight time is 413.0
N399DA  total fight time is 376.0
N916DE  total fight time is 372.0
N3742C  total fight time is 360.0
N994DL  total fight time is 358.0
N909DE  total fight time is 357.0
N908DE  total fight time is 346.0
N959DL  total fight time is 346.0
N926DL  total fight time is 345.0
N919DE  total fight time is 345.0
N829MH  total fight time is 344.0
N3760C  total fight time is 341.0
N913DN  total fight time is 340.0
N386DA  total fight time is 330.0
N924DL  total fight time is 328.0
N6703D  total fight time is 323.0
N696DA  total fight time is 322.0
N1402A  total fight time is 316.0
N915DE  total fight time is 316.0
N665DN  total fight time is 315.0
N922DL  total fight time is 305.0
N398DA  total fight time is 301.0
N999DN  total fight time is 300.0
N644DL  total fight time is 300.0
N3763D  total fight time is 299.0
N911DE  total fight time is 296.0
N908DL  total fight time is 296.0
N6700  total fight time is 291.0
N900DE  total fight time is 289.0
N627DL  total fight time is 285.0
N371DA  total fight time is 283.0
N974DL  total fight time is 281.0
N694DA  total fight time is 281.0
N616DL  total fight time is 277.0
N910DE  total fight time is 276.0
N953DL  total fight time is 274.0
N136DL  total fight time is 274.0
N680DA  total fight time is 273.0
N204  total fight time is 270.0
N774  total fight time is 270.0
N6711M  total fight time is 269.0
N912DE  total fight time is 268.0
N6701  total fight time is 267.0
N918DE  total fight time is 266.0
N907DL  total fight time is 263.0
N968DL  total fight time is 262.0
N687DL  total fight time is 257.0
N666DN  total fight time is 257.0
N903DA  total fight time is 254.0
N904DL  total fight time is 248.0
N397DA  total fight time is 242.0
N381DA  total fight time is 240.0
N663DN  total fight time is 240.0
N912DN  total fight time is 239.0
N914DE  total fight time is 237.0
N623DL  total fight time is 233.0
N628DL  total fight time is 232.0
N393DA  total fight time is 232.0
N683DA  total fight time is 231.0
N920DE  total fight time is 228.0
N3756  total fight time is 227.0
N6716C  total fight time is 226.0
N3751B  total fight time is 220.0
N781  total fight time is 219.0
N390DA  total fight time is 219.0
N6712B  total fight time is 217.0
N608DA  total fight time is 216.0
N697DL  total fight time is 214.0
N983DL  total fight time is 214.0
N916DN  total fight time is 212.0
N384DA  total fight time is 210.0
N3764D  total fight time is 210.0
N483  total fight time is 209.0
N984DL  total fight time is 204.0

In [167]:
# q5 Find the busiest airport (in terms of number of departures + arrivals of all operated flights) for each month.
from pyspark.sql.functions import col
import operator
df = input

for month in range(1, 12+1):
    print(month, '-'*10)
    df1=df.filter(col('Month').isin([month])).groupBy('Origin').count()
    df2=df.filter(col('Month').isin([month])).groupBy('Dest').count()
    #print(type(df1), type(df2))
    k_v = {}
    for orgin in df1.collect():
#         print(orgin['Origin'],orgin['count'])
        k_v[orgin['Origin']] = orgin['count']
    for dest in df2.collect():
        if k_v.get(dest['Dest']) :
#             print(dest)
#             print('before',k_v[dest['Dest']])
            k_v[dest['Dest']] += dest['count']
#             print('after',k_v[dest['Dest']])

    print(k_v)
    if k_v is None:
        month_max = max(k_v.items(), key=operator.itemgetter(1))[0]
        print('month_max:', month_max)

1 ----------
{'SNA': 43, 'SMF': 43, 'STL': 28}
2 ----------
{}
3 ----------
{}
4 ----------
{}
5 ----------
{}
6 ----------
{}
7 ----------
{}
8 ----------
{}
9 ----------
{}
10 ----------
{}
11 ----------
{}
12 ----------
{'MSY': 10, 'GEG': 2, 'SNA': 8, 'DCA': 32, 'ORF': 2, 'SAV': 4, 'CMH': 1, 'PNS': 3, 'IAH': 3, 'HNL': 3, 'CVG': 32, 'LGA': 88, 'AUS': 1, 'SJU': 1, 'SRQ': 3, 'CHS': 6, 'RSW': 7, 'BOS': 57, 'EWR': 4, 'LAS': 10, 'DEN': 5, 'IAD': 1, 'BOI': 3, 'SEA': 5, 'MCI': 3, 'CLT': 8, 'PBI': 13, 'ABQ': 3, 'SDF': 2, 'BDL': 4, 'PDX': 1, 'MIA': 5, 'TPA': 27, 'BWI': 4, 'SMF': 2, 'PHX': 5, 'STL': 2, 'DFW': 5, 'GSP': 2, 'SFO': 11, 'MEM': 2, 'BHM': 5, 'ATL': 197, 'FLL': 22, 'RIC': 3, 'VPS': 2, 'LIT': 1, 'ORD': 5, 'RDU': 6, 'MKE': 2, 'HSV': 2, 'PIT': 5, 'IND': 3, 'TYS': 2, 'ONT': 3, 'JAX': 6, 'LAX': 24, 'MCO': 39, 'ROC': 2, 'SAN': 4, 'JFK': 19, 'DAB': 1, 'PHL': 7, 'SAT': 5, 'SLC': 50}

In [203]:
## Q6
# 6nd the airline with highest average delay of each type in March 2007. 
#Note: do not write separate code for each error type. 
# You should compute a single RDD where each row contains the delay type, 
# the airline that is worst regarding that delay type, and its average delay of that type in minutes.

import pyspark.sql.functions as F 
from pyspark.sql.functions import count, avg
from pyspark.sql.functions import  max as max_

# d_columns =  ['CarrierDelay','WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']
print('1 all of group:')
df1 = df.groupBy("FlightNum") \
    .avg('CarrierDelay','WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay')
df1.show()

r = df1.groupBy("FlightNum").agg(F.sum(df1[1]+df1[2] + df1[3] + df1[4]).alias('result')).orderBy('result',ascending=False).head(1)
print('2 the filghtnum is:', r[0].FlightNum)

print('3 the max row:')
df1.filter(col('FlightNum').isin([r[0].FlightNum])).show()

1 all of group:
+---------+-----------------+-----------------+-------------+------------------+----------------------+
|FlightNum|avg(CarrierDelay)|avg(WeatherDelay)|avg(NASDelay)|avg(SecurityDelay)|avg(LateAircraftDelay)|
+---------+-----------------+-----------------+-------------+------------------+----------------------+
|     1959|              0.0|              0.0|          0.0|               0.0|                   0.0|
|     1591|              0.0|              0.0|          0.0|               0.0|                   0.0|
|     1645|              0.0|              0.0|          0.0|               0.0|                   0.0|
|     1460|              0.0|              0.0|          0.0|               0.0|                   0.0|
|     1721|              0.0|              0.0|         33.0|               0.0|                   0.0|
|     1896|              0.0|              0.0|          0.0|               0.0|                   0.0|
|     1618|              5.0|              0.0|          0.0|               0.0|                  84.0|
|     1650|              0.0|              0.0|          0.0|               0.0|                   0.0|
|     1699|             78.0|              0.0|          0.0|               0.0|                  50.0|
|       31|              5.0|              0.0|          8.0|               0.0|                   7.0|
|     1975|             20.0|              0.0|          7.0|               0.0|                   9.0|
|     1884|              0.0|              0.0|          0.0|               0.0|                   0.0|
|     1977|              0.0|              0.0|          0.0|               0.0|                   0.0|
|     1718|              0.0|              0.0|          0.0|               0.0|                   0.0|
|     1787|              0.0|              0.0|         65.0|               0.0|                   0.0|
|     1888|              0.0|              0.0|          0.0|               0.0|                   0.0|
|     1808|              0.0|              0.0|          0.0|               0.0|                   0.0|
|      961|             19.0|              0.0|          1.0|               0.0|                   0.0|
|     1212|             20.0|              0.0|          0.0|               0.0|                  24.0|
|      976|              0.0|              0.0|          0.0|               0.0|                   0.0|
+---------+-----------------+-----------------+-------------+------------------+----------------------+
only showing top 20 rows

2 the filghtnum is: 2782
3 the max row:
+---------+-----------------+-----------------+-------------+------------------+----------------------+
|FlightNum|avg(CarrierDelay)|avg(WeatherDelay)|avg(NASDelay)|avg(SecurityDelay)|avg(LateAircraftDelay)|
+---------+-----------------+-----------------+-------------+------------------+----------------------+
|     2782|            162.0|              0.0|          3.0|               0.0|                   0.0|
+---------+-----------------+-----------------+-------------+------------------+----------------------+

In [239]:
## q7
# Compute median, mean, and mode of columns 12-16, 19-21 and 25-29 
# for the flights in the third week of 2007. Exclude the non-numeric values.

from pyspark.sql import functions as F

print('filter out week 3')
mydf = df.filter(col('DayOfWeek').isin([3])) 


df1 = mydf.select(mydf.columns[12:16])
df1.show()
# res  = df1.select(*[F.percentile_approx(c).alias(c) for c in df1.columns])
# res.show()
# for name in ('CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay'):

quantiles = df1.approxQuantile("CRSElapsedTime", [0.25, 0.5, 0.75], 0)
print('median of [12:16]:')
print(quantiles)

df2 = mydf.select(mydf.columns[19:21])
# df2.show()
res2  = df2.select(*[F.mean(c).alias(c) for c in df2.columns])
print('mean of [19:21] :')
res2.show()

df3 = mydf.select(mydf.columns[25:29])
# df3.show()
print('mode of [25:29] :')
[df3.groupby(i).count().orderBy("count", ascending=False).first()[0] for i in df3.columns]

+--------------+-------+--------+--------+
|CRSElapsedTime|AirTime|ArrDelay|DepDelay|
+--------------+-------+--------+--------+
|            75|     54|       1|       7|
|            90|     74|       8|      13|
|            90|     73|      34|      36|
|            90|     75|      26|      30|
|            90|     74|      -3|       1|
|            90|     74|       3|      10|
|           110|     89|      47|      56|
|           110|     86|      -2|       9|
|           105|     90|      44|      47|
|           115|     92|      -7|       3|
|           115|     88|     -11|       1|
|           105|     89|      52|      52|
|            85|     66|      45|      53|
|            85|     63|     -17|      -5|
|            85|     65|      -5|       6|
|            85|     64|      33|      44|
|            85|     63|      -9|       0|
|            85|     66|      -7|       2|
|            85|     63|     -11|       1|
|            80|     69|      36|      29|
+--------------+-------+--------+--------+
only showing top 20 rows

median of [12:16]:
[75.0, 85.0, 105.0]
mean of [19:21] :
+------+-------+
|TaxiIn|TaxiOut|
+------+-------+
|  4.47|   7.96|
+------+-------+

mode of [25:29] :

[0, 0, 0, 0]

In [201]:
## Q8
#Assume that a passenger wants to travel from Philadelphia International Airport (airport code: PHL) 
# to Los Angeles International Airport (airport code: LAX), and then go back to Philadelphia (PHL). 
# He departs PHL not earlier than 5:59 am (scheduled time), stays at least 3:01 hours in Los Angeles and then arrive at PHL not later than 11pm. Based on the "scheduled" times, find which carrier has the highest number of flights with these constraints. 
# Limit your analysis to February 2007 and use scheduled times.
df1 = df.filter(col('Month').isin([2]))

In [ ]:
## Q9
#Generate the `departure flights` board of the Los Angeles Airport at 12 Jan 2007 at 13:00. The board should contain flights with actual departure times between 12:00 and 14:00, sorted by scheduled departure time. The resulting table should at least contain scheduled departure time, actual departure time (if departed), 
# airline code, and destination